.form{
    display: flex;
    border-top: 1px solid #d3d3d3;
}

.inputBar{
    box-sizing: border-box;
    width: 100%;
    padding:15px;
    border: 0;
    font-size: 15px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.sendButton{
    text-transform: uppercase;
    text-decoration: none;
    background-color: #2979ff;
    color: #ffffff;
    padding:20px;
    border: none;
    width: 20%;
}