body {
    background-color: #15202b;
    margin: 0;
    padding: 0;
    
}
.containerOuter{
    max-width: 500px;
    margin: 10% auto;
    background-color: #192734;
    padding-bottom: 15px;
    padding-top: 15px;
}
.link{
    display: block;
    width:100%;
    
}
.container{
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    color: #fff;
}
.inputContainer{
    margin-top: 20px;
}
h1{
    margin: 0px;
    padding: 0px;
}
.divider{
    width: 100%;
    background-color: #fff;
    height: 2px;
}
.inputField{
    box-sizing: border-box;
    padding: 10px;
    width:100%;
    font-size: 15px;
}
select{
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    background-image: none;
}
select::-ms-expand{
    display: none;
}
.select{
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    overflow: hidden;
    border-radius: .25em;
    margin-top: 20px
}
select{
    flex: 1;
    padding: 0 .5em;
    color: #15202b;
    cursor: pointer;
    font-size: 1em;
}
.select::after{
    content: '\25BC';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 1em;
    background: #2979ff;
    cursor: pointer;
    pointer-events: none;
    
}
a{
    margin: 0 auto;
 }
 .button{
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    background-color: #2979ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size:1em;
    cursor: pointer;
 }

 @media (max-width: 759px){
     .containerOuter{
         margin-top: 20%;
         width: 90%;
     }
     .container{
         margin-top: 20px;
         width: 100%;
         padding: 10px
     }
    
    
 }